

// Full path to the location of your warpy installation
BASE='SETME'
REF_BASE='SETME'

libs=["$BASE/lib/groovy-ngs-utils.jar"]

//Assume Miniconda and Homebrew are installed under /opt
parameters {
    setProperty('BASE',BASE)
    REF="$REF_BASE/Homo_sapiens_assembly38.fasta"

    tools {
        // Full path to samtools
        SAMTOOLS='/opt/homebrew/bin/samtools'
        
        // Full path to dorado
        DORADO="$BASE/tools/dorado-0.3.4-osx-arm64/bin/dorado"
        
        // Full path to minimap2
        MINIMAP2='/opt/homebrew/bin/minimap2'

        // Full path to pod5 Python package (installed via pip)
        POD5='/opt/miniconda3/envs/ont_tools/bin/pod5'

        // Full path to bamstats (installed via Conda)
        //BAMSTATS='/opt/miniconda3/envs/ont_tools/bin/bamstats'
        BAMSTATS='bamstats'

        // Fill path to Clair3
        CLAIR3="$BASE/tools/Clair3"

        PYPY="$CLAIR3/pypy3.9-v7.3.8-osx64/bin/pypy"

        PARALLEL="/opt/homebrew/bin/parallel"
        
        WHATSHAP="$HOME/.local/bin/whatshap"
        
        LONGPHASE="$CLAIR3/longphase-1.5/longphase"
    }

    conda_envs {
        CLAIR3='clair3-arm64'
    }

    model {
        params {
            basecaller_basemod_threads = 0
            remora_cfg = null
            remora_model_path = null
            // drd_model = 'dna_r10.4.1_e8.2_400bps_sup@v4.0.0'
            // drd_model = 'dna_r10.4.1_e8.2_400bps_hac@v4.0.0'
            drd_model = 'dna_r10.4.1_e8.2_400bps_hac@v4.1.0'
        }
    }
    
    calling {
        snp_min_af = 0.08
        indel_min_af = 0.15
        qscore_filter = 10
        ref_pct_full = 0.1
        var_pct_full = 0.7
        phasing_pct = 0.7
        
        // Full alignment
        min_mq = 5
        min_cov = 2
        
        // SV calling
        tr_bed = "$BASE/data/human_GRCh38_no_alt_analysis_set.trf.chr21.bed"
        cluster_merge_pos = 150
        min_sv_length = 30
        max_sv_length = 100000
        min_read_support = "auto"
        min_read_support_limit = 2
        sv_types = "DEL,INS"

        // STR calling
        repeats_bed = "$BASE/data/wf_str_repeats.bed"
        variant_catalogue_hg38 = "$BASE/data/variant_catalog_hg38.json"
     }
}

filesystems {
    reference_data {
        type='bind'
        base="$REF_BASE" // Full path to the location your reference data is in (this is used to mount it into containers)
    }
    
    scripts_bin {
        type='bind'
        base="$BASE/scripts"
    }
    
    data {
        type='bind'
        base="$BASE/data"
    }

    designs {
        type='bind'
        base="$BASE/designs"
    }
}

limits {
    // How many copies of dorado can run at once: set to the number of GPUs 
    // that are accessible to the pipeline / how many you would like to use in parallel
    dorados = 1
}


containers {
        /*
        clair3 {
            type = 'docker'
            image = 'ontresearch/wf-human-variation-snp:sha800ab96e243576f7f5fb17a7c4ead9e538a48931'
            storage = 'reference_data'
        }
        */

        common_tools {
            type = 'docker'
//            image = "brentp/mosdepth" // crashes :-(
            image = "ontresearch/wf-human-variation:shae4e5f94d1cd0ea009df54797bbe6ee09a53e911e"
            storage = ['reference_data', 'designs']
        }

        sniffles {
            type = 'docker'
            image = "ontresearch/wf-human-variation-sv:shabc3ac908a14705f248cdf49f218956ec33e93ef9"
            storage = ['reference_data', 'data']
        }

        sniffles_filter {
            type = 'docker'
            image = "ontresearch/wf-human-variation-sv:shabc3ac908a14705f248cdf49f218956ec33e93ef9"
            storage = ['scripts_bin', 'designs']
        }
        
        str_container {
            type = 'docker'
            image = 'ontresearch/wf-human-variation-str:sha8a8df7d40e0c9125ed43b347811afd14a077f94e'
            storage = ['reference_data','data','scripts_bin']
        }
}

stages {
    /*
    make_clair3_chunks { container='clair3' }
    pileup_variants { container='clair3' }
    aggregate_pileup_variants { container='clair3' }
    select_het_snps  { container='clair3' }
    phase_contig { container='clair3' }
    get_qual_filter  { container='clair3' }
    create_candidates { container='clair3' }
    evaluate_candidates  { container='clair3' }
    aggregate_full_align_variants { container='clair3' }
    merge_pileup_and_full_vars { container='clair3' }
    aggregate_all_variants  { container='clair3' }
    */
    mosdepth  { container='common_tools' }
    read_stats { container='common_tools' }
    
    sniffles2 { container='sniffles' }
    sort_sv_vcf { container='sniffles' }
    filter_sv_calls { container='sniffles_filter' }
    call_str { container = "str_container" }
    annotate_repeat_expansions  { container = "str_container" }
    merge_str_tsv  { container = "clair3" }
    merge_str_vcf  { container = "clair3" }
    //read_stats { container = "clair3" }
    make_str_report  { container = "str_container" }
}
