

// Full path to the location of your warpy installation
BASE='SETME'

libs=["$BASE/lib/groovy-ngs-utils.jar"]

parameters {
    setProperty('BASE',BASE)
    
    // Reference fasta
    REF='SET ME'
    tools {
        // Full path to samtools
        SAMTOOLS='SETME'
        
        // Full path to dorado
        DORADO='SETME'
        
        // Full path to minimap2
        MINIMAP2='SETME'
    }
    model {
        params {
            basecaller_basemod_threads = 0
            remora_cfg = null
            remora_model_path = null
            // drd_model = 'dna_r10.4.1_e8.2_400bps_sup@v4.0.0'
            drd_model = 'dna_r10.4.1_e8.2_400bps_hac@v4.0.0'
        }
    }
    
    calling {
        snp_min_af = 0.08
        indel_min_af = 0.15
        qscore_filter = 10
        ref_pct_full = 0.1
        var_pct_full = 0.7
        
        // Full alignment
        min_mq = 5
        min_cov = 2
        
        // SV calling
        tr_bed = '/Users/simon.sadedin/work/seq/repipe/hg38/human_GRCh38_no_alt_analysis_set.trf.bed'
        cluster_merge_pos = 150
        min_sv_length = 30
        max_sv_length = 100000
        min_read_support = "auto"
        min_read_support_limit = 2
        sv_types = "DEL,INS"
     }
}

filesystems {
    reference_data {
        type='bind'
        base='SETME' // Full path to the location your reference data is in (this is used to mount it into containers)
    }
    
    scripts_bin {
        type='bind'
        base="$BASE/scripts"
    }
}

/*
limits {
    dorados = 1
}
*/

containers {
        clair3 {
            type = 'docker'
            image = 'ontresearch/wf-human-variation-snp:sha800ab96e243576f7f5fb17a7c4ead9e538a48931'
            storage = 'reference_data'
        }

        common_tools {
            type = 'docker'
//            image = "brentp/mosdepth" // crashes :-(
            image = "ontresearch/wf-human-variation:shac4db03c19b6ff1277a24ec28a19e564d628d478f"
            storage = 'reference_data'
        }

        sniffles {
            type = 'docker'
            image = "ontresearch/wf-human-variation-sv:sha4963fc850f9e8807777b5a902473ba3eb4657930"
            storage = 'reference_data'
        }

        sniffles_filter {
            type = 'docker'
            image = "ontresearch/wf-human-variation-sv:sha4963fc850f9e8807777b5a902473ba3eb4657930"
            storage = 'scripts_bin'
        }

}

stages {
    make_clair3_chunks {
        container='clair3'
    }
    pileup_variants {
        container='clair3'
    }
    aggregate_pileup_variants {
        container='clair3'
    }
    select_het_snps  {
        container='clair3'
    }
    phase_contig {
        container='clair3'
    }
    get_qual_filter  {
        container='clair3'
    }
    create_candidates {
        container='clair3'
    }
    evaluate_candidates  {
        container='clair3'
    }
    aggregate_full_align_variants {
        container='clair3'
    }
    merge_pileup_and_full_vars {
        container='clair3'
    }
    aggregate_all_variants  {
        container='clair3'
    }
    mosdepth  {
        container='common_tools'
    }
    
    sniffles2 { container='sniffles' }
    sort_sv_vcf { container='sniffles' }
    filter_sv_calls { container='sniffles_filter' }
}
